
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Montserrat:wght@400;700&family=Exo:wght@300;400;500&family=Raleway:wght@400;600&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

.accent-text {
  font-family: 'Exo', sans-serif;
}

.subtext {
  font-family: 'Raleway', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #121212; /* Dark background color for a modern look */
  color: #ffffff;            /* Light text color */
}